@import "@/styles/mixins";

.input-wrapper {
  position: relative;
  &__field {
    background: var(--c-dark-light);
    border: none;
    width: 100%;
    border-radius: var(--radius-sm);
    font-size: var(--fs-14);
    color: var(--c-white);
    padding: 0 12px;
    height: 35px;
    line-height: 35px;

    @include tablet() {
      height: 42px;
    }
  }
  &__icon {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
  }
}
