.bg-dark{
  background: var(--c-dark)
}
.bg-dark-secondary{
  background: var(--c-dark-secondary)
}
.bg-dark-light{
  background: var(--c-dark-light)
}
.bg-white{
  background: var(--c-white)
}
.bg-white-opacity{
  background: var(--c-white-opacity)
}
.bg-blue{
  background: var(--c-blue)
}
.bg-blue-dark{
  background: var(--c-blue-dark)
}
.bg-red{
  background: var(--c-red)
}
.bg-red-opacity{
  background: var(--c-red-opacity)
}
.bg-purple{
  background: var(--c-purple)
}
.bg-green{
  background: var(--c-green)
}
