.text-dark {
  color: var(--c-dark)
}

.text-dark-secondary {
  color: var(--c-dark-secondary)
}

.text-white {
  color: var(--c-white)
}

.text-white-opacity {
  color: var(--c-white-opacity)
}

.text-blue {
  color: var(--c-blue)
}

.text-blue-dark {
  color: var(--c-blue-dark)
}

.text-red {
  color: var(--c-red)
}

.text-red-opacity {
  color: var(--c-red-opacity)
}

.text-purple {
  color: var(--c-purple)
}

.text-green {
  color: var(--c-green)
}

.text-s-24 {
  font-size: var(--fs-24);
}

.text-s-18 {
  font-size: var(--fs-18);
}

.text-s-16 {
  font-size: var(--fs-16);
}

.text-s-14 {
  font-size: var(--fs-14);
}

.text-s-12 {
  font-size: var(--fs-12);
}

.text-w-900 {
  font-weight: var(--fw-900);
}

.text-w-800 {
  font-weight: var(--fw-800);
}

.text-w-500 {
  font-weight: var(--fw-500);
}

.ff-light {
  font-weight: 400;
}

.ff-bold {
  font-weight: 800;
}
