:root {
  --c-black: rgba(28, 26, 26, 1);
  --c-dark: rgba(32, 35, 41, 1);
  --c-dark-secondary: rgba(32, 36, 42, 1);
  --c-dark-light: rgba(48, 54, 62, 1);
  --c-white: rgba(255, 255, 255, 1);
  --c-white-opacity: rgba(255, 255, 255, 0.5);
  --c-blue: rgba(76, 132, 255, 1);
  --c-blue-dark: rgba(45, 105, 235, 1);
  --c-blue-darkes: rgba(56, 109, 248, 1);
  --c-red: rgba(252, 61, 64, 1);
  --c-red-opacity: rgba(252, 61, 64, 0.5);
  --c-purple: rgba(198, 140, 255, 1);
  --c-green: rgba(0, 200, 104, 1);
  --c-green-dark: rgba(0, 186, 97, 1);
  --c-orange: rgba(229, 170, 17, 1);

  --fs-24: 24px;
  --fs-18: 18px;
  --fs-16: 16px;
  --fs-14: 14px;
  --fs-12: 12px;
  --fs-10: 10px;
  --fs-8: 8px;
  --fs-6: 6px;

  --fw-900: 900;
  --fw-800: 800;
  --fw-500: 500;

  --radius-lg: 10px;
  --radius-9: 9px;
  --radius: 6px;
  --radius-sm: 4px;
  --radius-xs: 2px;

  --shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.37);

}
