.shadow {
  box-shadow: var(--shadow);
}

.rounded {
  border-radius: var(--radius);
}

.rounded-sm {
  border-radius: var(--radius-sm);
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1200px;
}

.--o-hidden {
  overflow: hidden;
}

.capitalize {
  text-transform: capitalize;
}
